node_modules
.next
.env*
!.env.example

/lib/generated/prisma

tsconfig.tsbuildinfo
.agents/
.claude/
.windsurf/
skills-lock.json

prisma/novix.db
prisma/novix.db-journal
prisma/novix.db-shm
prisma/novix.db-wal
